/*input,select{
    -webkit-appearance:none;
    appearance:none;
}*/

button {
    width: 160px;
    height: 40px;
}

.err-msg {
    color: #ff0000;
    font-style: italic;
}

.ixt{
    size:4;
    border:0;
}